@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

.ticker {
  position: absolute;
  width: max-content;
  animation: ticker 25s linear infinite;
  white-space: nowrap;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
